body {
    background-color: #790e06;
    display: flex;
    flex-direction: column;
    align-items: center;
}
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a{
    color: #790e06;
}
.contact-form {
    background-color: #790e06;
    width: 60%;
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 40px;
    border-radius: 8px;

}

fieldset {
    border: none;
    padding: 0;
    color: white;
}

h1 {
    color: #790e06;
    text-align: center;
    font-size: 2rem;
}

.contact-form h1 {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
}

p {
    text-align: center;
    font-size: 1rem;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    display: inline;
}

input[type="text"], input[type="tel"], input[type="email"],
input[type="submit"], input[type="reset"], textarea, select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
}

input[type="submit"], input[type="reset"] {
    background-color: white;
    color: #790e06;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #f4f4f9;
}

textarea {
    resize: vertical;
    height: 150px;
}

header{
    background: white;
    color: #790e06;
}