* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
    font-size: 17px;
}

header {
    background-color: #790e06;
    color: white;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerDiv {
    width: 90%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.logo-title {
    display: flex;
    align-items: center;
}

header .logo {
    width: 40px;
    margin-right: 15px;
}

header h1 {
    font-size: 1.8rem;
}

nav a {
    color: white;
    margin: 0 15px;
    font-weight: bold;
}

footer { 
    background-color: #790e06;
    color: white;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody tr:nth-child(odd){
    background: #790e06;
    color: white;
}
tbody tr:nth-child(even){
    background: white;
    color: #790e06;
}
nav a:hover{
    color: Yellow;
}
nav a.active{
    color: Yellow;
}

section:focus{
    font-family: Arial;
    font-weight: bold;
}

:focus {
    outline: 3px solid #005fcc; 
    outline-offset: 2px;
}


nav{
    display: inline-block;
}
nav a{
    justify-content: center;
}

/* medium devices (max width: 790px) */
@media (max-width: 790px) {

    .omniman_portrait{
        margin-right: 5%;
        width: 100%;
        height: 100%;
    }

    body {
        font-size: 15px;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p, label, textarea, select {
        font-size: 0.9rem; 
    }
}

/* small devices (max width: 590px) */
@media (max-width: 590px) {
    .omniman_portrait{
        margin-left: 0%;
        width: 100%;
        height: 100%;
    }
    body {
        font-size: 13px; 
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p, label, textarea, select {
        font-size: 0.8rem;
    }
}

@media (min-width: 591px) {

    .omniman_portrait{
        align-self: center;
        margin-left: 25%;
        width: 50%;
        height: 75%;
    }

    body {
        font-size: 15px;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p, label, textarea, select {
        font-size: 0.9rem;
    }

}