.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 20px
}

h1 {
    font-size: 40px;
    margin: 0;
}
*{
    font-family: "Noto Sans Mono";
    background: dimgrey;
    color: white;
    text-decoration: none;
    user-select: none;
}